awscli
requests
dotenv
bs4
openai
ipython
jupyterlab
matplotlib
notebook
numpy
pandas
pip
pytest
python-dotenv
ruff
scikit-learn
transformers
langchain-text-splitters
langchain-community
langgraph
langchain_aws
faiss-cpu
ipykernel
tensorflow
